@charset "UTF-8";
body{
    height: 98vh;
    position: relative;
    background-image: url('../imagens/espaco.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

body > img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}