@charset "UTF-8";
body{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    border-collapse: collapse;
    width: 500px;
}

thead th{
    text-align: center;
}
th, td{
    border: 1px solid black;
}

th{
    background-color: #727272;
    color: white;
    font-weight: bolder;
}

th#media{
    text-align: left;padding: 5px;
}

td.media{
    background-color: #727272;
    color: white;
    font-weight: bolder;
}

th.areas{
    background-color: white;
    color: black;
    text-align: center;
}

td.nota{
    text-align: center;
}
