@charset "UTF-8";

/*
    Paleta de cores
    Verde   #49a09d
    Lilás   #5f2c82
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; /*Faz com que a borda faça parte da conta de largura*/
}

html, body{
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    width: 100vw;
    height: 96vh;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden; /*Tudo que estiver fora da borda será ocultado*/
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);

    transition: width 0.5s, height 0.5s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login > div#imagem{
    display: block;
    background-image: url('../imagens/background002.jpg');
    background-size: cover;
    background-position: left top;
    height: 200px;

}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p{
    font-size: 0.8em;
}

div.campo > label{
    display: none;
}

div.campo > i{
    color: white;
    /*background-color: black;*/
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

form > div.campo{
    display: block;
    background-color: #5f2c82;
    border: 0px solid #5f2c82;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > input{
    background-color: #94cfcd;
    font-size: 1em;
    width: calc(100% -44px);
    height: 100%;
    border: 0px;
    padding: 4px;
    border-radius: 8px;
    transform: translateY(-12px);
}

div.campo input:focus-within{
    background-color: white;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: #33706e;
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 7px;
    margin-top: 5px;
    background-color: white;
    color: #2d6462;
    border: 1px solid #69e6e1;
    border-radius: 5px;
    text-decoration: none;
}

form > a.botao:hover{
    background-color: #6cd3cf;
}

form > a.botao i{
    font-size: 0.8em;
}