@charset "UTF-8";

.container{
    display: grid;
    grid-template-rows: repeat(4, 100px);
    grid-template-columns: repeat(3, 100px);

    justify-content: center;
}

.item1{
    background-color: yellow;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}

.item2{
    background-color: orange;
    grid-row: 2 / 3;
    grid-column: 1 / 4;
}

.item3{
    background-color: green;
    grid-row: 3 / 4;
    grid-column: 1 / 3;
}

.item4{
    background-color: blue;
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}

.item5{
    background-color: brown;
    grid-row: 4 / 5;
    grid-column: 1 / 4;
}