@charset "UTF-8";

*{
   margin: 0px;
   padding: 0px;
   font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    background-image: url('../imagens/fundo-madeira.jpg');
    background-position: center center;
    background-size: cover;
}

main{
    position: relative;
    height: 90vh;
    width: 65vw;
}

main > section > ul{
    display: inline;
    position: relative;
    top: 10px;
    left: 315px;
}

ul, li, a{
    display: inline;
}

section#telefone{
    /*background-color: blue; - usado somente para ajudar na centralização da imagem*/
    background-image: url('../imagens/frame-iphone.png');
    background-repeat: no-repeat;

    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    
    height: 627px;
    width: 310px;
}

/*Carregando o fundo via CSS*/

iframe{
    background-image: url('../imagens/tela-home.jpg');
    background-size: contain;
    position: absolute;
    
    top: 50.5%;
    left: 67%;
    transform: translate(-50%, -50%);

    display: block;
    margin: auto;
    width: 267px;
    height: 469px;
}

section#telefone ul li a img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-bottom: 5px;
}