@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

img, a{
    display: block;
    width: 93vw;
    margin: auto;
}

a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
    text-decoration: none;

    padding-top: 30px;
    padding-bottom: 30px;

    color: white;
    background-color: darkred;    
}