@charset "UTF-8";

table{
    border-collapse: collapse;
    font-weight: bolder;
    background-color: lightgray;
    text-align: center;
}

td{
    border: 1px solid black;
    width: 100px;
    padding: 10px;

}